#form-team
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    background: repeating-linear-gradient
    (
        to bottom,
        rgba(88, 168, 77, 0.877),
        rgba(88, 168, 77, 0.877) 100px,
        rgba(42, 121, 27, 0.726) 100px,
        rgba(42, 121, 27, 0.726) 200px
    );
    height: 100%;
    width: 100%;
}

#p1, #p2, #p3, #p4, #p5, #p6
{
    display: inline-block;
    width: 130px;
    height: 50px;
    border-radius: 25px;
    margin-left: 5px;
    -webkit-border-radius: 25px;
    font-size: 25px;
    border: none;
    text-align: center;
}

.player-in-team
{
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: auto 20px auto;
    cursor: pointer;
}

.bi-award.icon
{
    color: rgb(255, 255, 255);
}

